.full-screen-container {
  box-sizing: border-box;
  height: 100vh;

  .full-screen-content {
    display: flex;
    align-items: center;
  }
}

.main-index {
  color: #fff;
}

.arrow-down {
 
  
 
  text-align: center;
  padding-top: 40px;
  animation: bounce 1.5s infinite;
  @media(min-width:768px){
    position: absolute;
    bottom: 30px;
    left:0;
    right: 0;
  }
  i {
    cursor: pointer;
    font-size: 30px;
    ;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}

.index-service{
  background-color: #f0f0f0;
  h1{
    line-height: 1.35;
  }
  background-size: 100%;
  overflow: auto;

  .service-btn{
    text-align: center;
    margin-top: 40px;
  }
}

.content-wrapper {
  box-shadow: 0 5px 12px rgba(0,0,0, .1);
  .content {
    i {
      font-size: 40px;
      opacity: .5;
    }
    line-height: 1.5;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 0px 15px 0 hsla(0,0%,79%,.6);
    padding: 20px;
    @media(min-width:768px){
      padding: 40px
    }
    transition: all .5s;
    &:hover{
      box-shadow: 0 15px 20px 0 hsla(0,0%,79%,.8);
    }
  }
}