.intrduce{
  color: #cdcdcd;
  padding-bottom: 80px;
  overflow: hidden;
  h1.process-h1 {
    color: #fff;
    padding-top: 80px !important;

    @media(min-width: 768px){
      padding-top: 100px !important;
    }

    @media(min-width: 1366px){
      padding-top: 120px !important;
    }

    @media(min-width: 1920px){
      padding-top: 150px !important;
    }
  }
  .item-list{
    text-align:center;
   
    h2 {
      color: #fff;
      padding-top: 20px;
      @media(min-width: 1920px)
      {
        font-size: 30px;
      }
    }
    img{
      margin: auto;
      height: 60px;
    }
  }
}