body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* project id 1635624 */
  src: url('//at.alicdn.com/t/font_1635624_veb4uddqij9.eot');
  src: url('//at.alicdn.com/t/font_1635624_veb4uddqij9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1635624_veb4uddqij9.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1635624_veb4uddqij9.woff') format('woff'),
  url('//at.alicdn.com/t/font_1635624_veb4uddqij9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1635624_veb4uddqij9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li,
body {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
i {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
  color: #4b4a4b;
}

h1,h2,h3,h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h1 {
  color: #999;
  font-size: 22px;
  @media(min-width:768px){
    font-size: 32px;
  }
}
h3{
  color: #333;
  font-size: 16px;
  @media(min-width:768px){
    font-size: 21px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #000;
  height: 500px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-end {
  align-items: flex-end;
}

.main {
  padding-top: 90px
}

.main-index {
  background: #000;
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  box-sizing: border-box;
  text-transform: none;
  width: 135px;
  height: 38px;
  border-radius: 0;
  font-weight: 500;
  text-align: center;
  transition: background-color .8s, color .8s;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 38px;
  cursor: pointer;
  border: 1px solid #4b4a4b;

  &.btn-lg{
    height: 50px;
    line-height: 50px;
    max-width: 300px;
    width: 100%;
  }

  &:hover {
    background: #4b4a4b;
    color: #fff;
  }

  &.btn-white {
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background: #fff;
      color: #4b4a4b;
    }
  }
}

.not-found {
  text-align: center;
  font-weight: normal;
  color: #4b4a4b;
  padding-top: 50px;
}

.black-bg {
  background-color: #000;
}

.container {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width:768px) {
    padding-left: 65px;
    padding-right: 65px;
  }

  @media (min-width:1920px) {
    width: 1600px;
    margin: auto;
  }
}

.container-grid {
  display: flex;
  height: auto;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: 1024px) {
    flex-direction: row;
  }

  .space-30 {
    height: 15px;
    @media (min-width: 1024px) {
      width: 30px;
    }
  }

  .col-xs-sm {
    flex: 1;
  }
}